.detailWrapper {
  min-height: 100vh;
  background-color: rgb(247, 241, 234);
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .detailItem {
    border-radius: 2rem;
    flex-direction: row;
    margin-top: 50px;
    width: 60vw;
    padding: 15px;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      width: 75vh;
      margin-top: 10px;
      align-items: center;
    }
    .detailImg {
      margin-right: 50px;
      @media screen and (max-width: 991px) {
        margin-right: 0;
      }
      img {
        @media screen and (max-width: 991px) {
          height: 40vh;
          width: auto;
        }
        height: auto;
      }
    }
    .detailContent {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      .goToCartButton {
        background-color: rgb(220, 126, 126);
        border: none;
      }
      .continueShoppingButton {
        background-color: rgb(208, 220, 126);
        border: none;
        margin-top: 5px;
        color: black;
      }
      @media screen and (max-width: 991px) {
        align-items: center;
      }
      .detailTitle {
        margin-bottom: 3rem;
        @media screen and (max-width: 991px) {
          margin-bottom: 0;
          margin-top: 10px;
        }
      }
      .detailStock {
        font-weight: bold;
      }
    }
  }
}
