.landing {
  background-color: rgb(247, 241, 234);
  @media screen and (min-width: 1192px) {
    height: 100%;
  }
  .cardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
  }
}
