.checkoutWrapper {
  min-height: 100vh;
  background-color: rgb(247, 241, 234);
  .checkoutTitle {
    text-align: center;
    padding-top: 10vh;
    font-size: 1.5rem;
  }
  .checkoutDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .checkoutForm {
    width: 30vw;
    margin-right: 10px;
    @media screen and (max-width: 768px) {
      width: 80vw;
    }
  }
  .checkoutOrder {
    width: 30vw;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    @media screen and (max-width: 768px) {
      width: 80vw;
      margin-bottom: 5vh;
    }
    .checkoutOrderTitle {
      text-align: center;
    }
    .checkoutTotalPrice {
      font-weight: bold;
      margin-top: 10px;
      border-top: 1px solid black;
      padding-top: 5px;
      width: 50%;
    }
    .checkoutColumns {
      display: flex;
      flex-direction: column;
      text-align: center;
      .checkoutColumns2 {
        display: flex;
        flex-direction: row;
      }
      .checkoutColsTitle {
        width: 50%;
        span {
          font-weight: bold;
        }
      }
      .checkoutColsPrice {
        width: 50%;
      }
    }
    .checkoutOrderSubtitles {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
