.detailLink {
  text-decoration: none;
  color: black;
  margin: 5px;
}

.cardItem {
  padding: 10px;
  justify-content: center;
  border-radius: 2rem;
  height: 100%;
  .cardImg {
    height: auto;
  }
  .cardTitle {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  .cardStock {
    text-align: center;
    margin-top: 5px;
  }
}
